$menus-width: 250px;

.side-menus {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 70px;
  width: $menus-width;

  background-color: white;
  border-right: 1px solid #909499;
  border-left: 1px solid#909499;

  .side-menus-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid lightgray;
    padding: 15px;
  }

  .side-menus-header h4 {
    margin: 0;
  }

  .side-menus-header button:hover {
    opacity: 0.8;
  }

  .side-menus-header button:focus {
    box-shadow: none;
  }
}