$menus-width: 250px;
$hover-color: #62666b;

.side-menus {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 70px;
  width: $menus-width;

  background-color: white;
  border-right: 1px solid #909499;
  border-left: 1px solid#909499;

  .side-menus-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid lightgray;
    padding: 15px;
  }

  .side-menus-header h4 {
    margin: 0;
  }

  .side-menus-header button:hover {
    opacity: 0.8;
  }

  .side-menus-header button:focus {
    box-shadow: none;
  }

  .side-menu-items {
    padding: 10px;
  }

  .dept-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 0;

    text-align: left;
    color: black;
  }

  .dept-item:focus {
    box-shadow: none;
  }

  .dept-item.active {
    background: $hover-color;
    color: white;
  }

  .dept-item:hover {
    background: $hover-color;
    opacity: 0.8;
    color: white;
  }

  .dept-item.depth-2 {
    width: 90%;
    margin-left: auto;
  }

  .dept-item.depth-3 {
    width: 80%;
    margin-left: auto;
  }
}