@import "../mixins";

.teams {
  @include center-container();

  h4 {
    margin-bottom: 50px;
  }

  button, a {
    width: 100%;
    margin-bottom: 15px;
  }

  button:last-child,
  a:last-child {
    margin-bottom: 0;
  }

  button svg,
  &__link svg {
    margin-right: 15px;
  }
}
